@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  @layer components {
    .cursor {
      @apply fixed top-0 left-0 w-[30px] h-[30px] z-50 opacity-0 transition-opacity duration-200 ease-[cubic-bezier(0.165,0.84,0.44,1)] pointer-events-none mt-[-15px] ml-[-15px] hidden md:block;
    }
    .cursor-move-inner {
      @apply absolute top-1/2 left-1/2 w-1 h-1 -mt-[2px] -ml-[2px];
    }
    .cursor-move-outer {
      @apply absolute top-0 left-0 w-full h-full;
    }

    .cursor-inner {
      @apply block w-full h-full border border-black rounded-full box-border;
      transition: transform 0.4s cubic-bezier(0.23, 1, 0.32, 1),
        opacity 0.4s cubic-bezier(0.165, 0.84, 0.44, 1);
    }

    .section-title {
      @apply text-[28px] leading-[38px] xm:text-[30px] xm:leading-[41px] sm:text-[35px] sm:leading-[47px] font-bold text-heading font-title mb-5;
    }
    .section-desc {
      @apply text-[16px] leading-[32px] text-base font-light mb-7;
    }
  }
}

html:hover .cursor {
  opacity: 1;
}

.cursor-outer {
  display: block;
  width: 100%;
  height: 100%;
  border: 1px solid #000;
  border-radius: 50%;
  box-sizing: border-box;
  transition: border 0.4s cubic-bezier(0.165, 0.84, 0.44, 1),
    transform 0.4s cubic-bezier(0.23, 1, 0.32, 1),
    opacity 0.4s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.cursor-hover {
  .cursor-inner {
    transform: scale(0.5);
    opacity: 0;
  }

  .cursor-outer {
    transform: scale(1.4);
    border-color: #000;
    opacity: 1;
  }
}
